:root {
    --clr-primary-400: hsl(75, 94%, 57%);
    --clr-neutral-100: hsl(0, 0%, 100%);
    --clr-neutral-400: hsl(0, 0%, 20%);
    --clr-neutral-800: hsl(0, 0%, 12%);
    --clr-neutral-900: hsl(0, 0%, 8%);
    --ff-body: 'Inter', system-ui, sans-serif;
    --fs-body: 0.875rem;
    --fw-regular: 400;
    --fw-semibold: 600;
    --fw-bold: 700;
}

body {
    background-color: var(--clr-neutral-900);
    color: var(--clr-neutral-100);
    font-family: var(--ff-body);
    font-size: var(--fs-body);
}

.main {
    display: grid;
    place-items: center;
    min-height: 100svh;
}

.card {
    display: grid;
    gap: 1.5rem;
    background-color: var(--clr-neutral-800);
    border-radius: 0.75rem;
    width: min(24rem, 100% - 3rem);
    padding: clamp(1.5rem, 12.7vw - 1.5rem, 2.5rem);
}

.card__image {
    border-radius: 50%;
    width: 5.5rem;
    margin-inline: auto;
}

.card__header, .card__bio {
    text-align: center;
}

.card__title {
    font-size: 1.5rem;
    font-weight: var(--fw-semibold);
    margin-block-end: 0.25rem;
}

.card__description {
    color: var(--clr-primary-400);
    font-weight: var(--fw-bold);
}

.card__links {
    display: grid;
    gap: 1rem;
}

.button {
    background-color: var(--clr-neutral-400);
    border: 0;
    border-radius: 0.5rem;
    color: var(--clr-neutral-100);
    cursor: pointer;
    font-weight: var(--fw-bold);
    padding-block: 0.85714em;

    &:hover, &:focus, &:focus-visible {
        background-color: var(--clr-primary-400);
        color: var(--clr-neutral-400);
    }
}
